//----header&navigation layout----
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $base-margin * 1.5 $base-margin;
}
.menu-btn {
    display: block;
    cursor: pointer;
}
@media (min-width: 769px) {
    .menu-btn {
        display: none;
        cursor: pointer;
    }
}
.active-nav-menu {
    position: fixed;
    display: none;
    justify-content: start;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    width: min(55vw, 480px);
    height: 100vh;
    background-color: #fff;
    padding: 1.5rem;
    gap: 2rem;
    
    a,span {
        font-family: $base-font-family;
        text-decoration: none;
        font-size: $base-font-size;
        color: $primary-gray;
        cursor: pointer;
    }

    a:hover {
        color: $primary-black;
    }
    span:hover {
        color: $primary-black;
    }
    .x-btn {
        place-self: end;
        cursor: pointer;
    }
    .nav-links {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 1.5rem;
        span {
            display: flex;
            align-items: center;
        }
    }
    .nav-login-reg {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 1rem;
    }
    .register-btn {
        width: 100%;
    }
}
.arrow-onlink {
    gap: 2rem;
}

.arrow-onlink::after {
    content: '';
    height: 10px;
    width: 16px;
    background-image: url("../../public/images/icon-arrow-down.svg");
    background-size: cover;
}

$nav-icon: (
    "todo": url("../../public/images/icon-todo.svg"),
    "calendar": url("../../public/images/icon-calendar.svg"),
    "reminders": url("../../public/images/icon-reminders.svg"),
    "planning": url("../../public/images/icon-planning.svg")
);

@each $key, $val in $nav-icon {
    .icon-#{$key}::before{
        content: '';
        height: 20px;
        width: 20px;
        background-image: $val;
        background-size: cover; 
        margin-right: $base-margin;
    }
}

.feature-container {
    display: flex;
    flex-direction: column;
}
.feature-wrapper {
    margin-top: $base-margin * 1.25;
    margin-left: $base-margin * 2;
    display: none;
    gap: $base-margin;
    flex-direction: column;
}

.company-container {
    display: flex;
    flex-direction: column;
}
.company-links-wrapper {
    margin-top: $base-margin * 1.25;
    margin-left: $base-margin * 2;
    display: none;
    gap: $base-margin;
    flex-direction: column;
    
    a:hover {
        color: $primary-black;
    }
}